div:hover{
    background-color:rgb(224, 228, 28);
    color: aqua;
    transform:translate(100px);
    /* transform:skew(45deg); */

}
div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps();
    transform: rotate(45deg);
    margin-top: 100px ;
    margin-left: 100px;
    transition-delay: 1s;
}
div:active{
    background-color: red;
}
