* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background-color:rgb(138, 24, 24);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background: rgba(218, 164, 164, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(207, 219, 205, 0.5);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #1e395e;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #252424;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #373685;
    outline: none;
    background:transparent;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 15px;
}

button {
    background: #03a9f4;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0288d1;
}
